@{
    ViewData["Title"] = "About Page";
}

<!-- Manually created file name About.cshtml and Added some data about the properties, history etc.. and Image with the caption :).-->
<h1 class="vaseH1">Bhoomit Patel's Vases Company</h1>

<figure class="vase">
    <img class="vaseImg" src="~/img/Vase1.jpg" alt="Vase Portland Image" />
    <figcaption>Source: <a href="https://en.wikipedia.org/wiki/Vase">https://en.wikipedia.org/wiki/Vase</a></figcaption>
</figure>

<div class="about">
    <h2>Chief Executive Officer: BHOOMIT PATEL</h2>
    <p>The company make unique vases from the different material like glass, ceramic, woods, stone etc from 1996. It also famous for their antique piece of the vases as well. This company's yearly revenue is 20 million dollars.</p> <!--Just Kidding.....:)-->
    <h2>About:</h2>
    <p>A<a href="https://en.wikipedia.org/wiki/Vase"> <b>VASE</b></a> is an open container. It can be made from a number of materials, such as ceramic, glass, non-rusting metals, such as aluminium, brass, bronze, or stainless steel. Even wood hase been used to make vases, either by unsing tree species that nuturally resist rot, such as teak, or by applying a protective coating to conventional wood or plastic. Vases are often decorated, and they are often used to hold cut flowers. Vases come in different sizes to support whatever flower it is holding or keeping in place.</p>
    <p>Vases generally share a similar shape. The foot or the base may be bulbous, flat, carinate, or another shape. The body forms the main portion of the piece. Some vases have a shoulder, where the body curves inward, a neck, which gives height, and a lip, where the vase flares back out at the top. Some vases are also given handles.</p>
    <p>Various styles and types of vases have been developed around the world in different time periods, such as Chinese ceramics and Native American pottery. In the pottery of ancient Greece "vase-painting" is the traditional term covering the famous fine painted pottery, often with many figures in scenes from Greek mythology. Such pieces may be referred to as vases regardless of their shape; most were in fact used for holding or serving liquids, and many would more naturally be called cups, jugs and so on. In 2003, Grayson Perry won the Turner Prize for his ceramics, typically in vase form.</p>

</div>
