@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to my MvcVase ASP.NET Core MVC Application</h1>

    <!--Figure Added with the caption I know that I have to mention the source because the image is not mine (Copyright) :)-->
    <figure class="homeVase">
        <img class="homeImg" src="~/img/homeVase.jpg" alt="Vase Portland Image" />
        <figcaption>Source: <a href="https://www.magazineluiza.com.br/portaldalu/vasos-saiba-como-escolher/49119/">https://www.magazineluiza.com.br/portaldalu/vasos-saiba-como-escolher/49119/</a></figcaption>
    </figure>
    <p>Know more about the <b>Vases</b> <a asp-area="" asp-controller="Home" asp-action="About">Click here</a>.</p>
</div>
